@model MissionSite.Models.Mission

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Missions/Index/">Missions</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(m => m.MissionName) FAQ</li>
        </ol>
    </nav>
    <h3>@Html.DisplayFor(m => m.MissionName) Mission</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h4>Mission Info</h4>
                <h5>Mission President: @Html.DisplayFor(m => m.MissionPresident) </h5>
                <h5>Mission Address: @Html.DisplayFor(m => m.MissionAddress)</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h4>Culture</h4>
                <h5>Dominant Religion: @Html.DisplayFor(m => m.MissionDominantReligion)</h5>
                <h5>Flag: <img class="img-thumbnail" style="width: 25%; height: 25%" src=@Html.DisplayFor(m => m.MissionFlagURL) /></h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h4>Geography</h4>
                <h5>Climate: @Html.DisplayFor(m => m.MissionClimate)</h5>
            </div>
        </div>
    </div>

    <h3>Frequently Asked Questions</h3>
    <div class="row">
        @foreach (var question in ViewBag.Questions)
        {
            if (Model.MissionId == @question.MissionId)
            {
                <div class="col-md-12 question-section">
                    <div class="question">@question.QuestionDescription</div>
                    @foreach (var response in ViewBag.Responses)
                    {
                        if (@response.QuestionId == @question.QuestionId)
                        {
                            <div class="answer"><i class="glyphicon glyphicon-chevron-right"></i> @response.ResponseDescription</div>
                        }
                    }
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" for="answer" placeholder="Types your response..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            }
        }
    </div>

    <h3>Post your own Question</h3>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <!-- Name field -->
                    <label class="control-label " for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" />
                </div>
                <div class="form-group">
                    <!-- Question field -->
                    <label class="control-label " for="question">Question</label>
                    <textarea class="form-control" cols="40" id="question" name="question" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
